<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear {{ user.username }},</p>
<p>
    To reset your password
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p> <!-- _external = true is there so gives full URL not the relative one -->
<p>If you have not requested a password reset simply <b>ignore</b> this message.</p>
<p>Sincerely,</p>
<p>The MICROBLOG Team</p>
</body>
</html>