{% extends "base.html" %}

{% block content %} <!-- The block name "content" is the same as the one for base.html, so
Flask knows how to render it correctly -->
<h1>Hi there, {{current_user.username}}!</h1>
{% if form %}
<h2>Microblog!</h2>
<form action="" method="post">
    {{form.hidden_tag()}}
    <p>
        {{form.post.label}} <br>
        {{form.post(cols=32, rows=4)}} <br>
        {% for error in form.post.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
{% endif %}
<h2>Here are {% if form %} your peeps {% else %} all the {% endif %} blog posts:</h2>
{% for post in posts%}
<div>
    {% include '_post.html' %}
</div>
{% endfor %}
{%if prev_url %}
<a href="{{ prev_url }}"><-- Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts --></a>
{% endif %}
{% endblock %}