{%extends "base.html" %}

{%block content%} <!-- Again using the same block name -->
<h1>Sign In</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }} <!-- Creates a token that protects against CSRF/The SECRET KEY must also be configured -->
    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }} <br> <!-- To accept input -->
        <!-- Add some form validation errors, a rule of thumb is fild has a validator then has error message
         associated with it -->
        {% for error in form.username.errors %}
        <span style="color:red;">{{error}}</span>
        {%endfor%}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }} <br>
        {% for error in form.password.errors %}
        <span style="color:red;">{{error}}</span>
        {%endfor%}
    </p>
    <p>
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
    <p>
        Don't have an account yet? <a href="{{url_for('register')}}">Click here to register!</a>
    </p>
    <p>
        Forgot your password :"(? No worries!
        <a href="{{ url_for('reset_password_request')}}">Click here to reset it!</a>
    </p>
</form>
{% endblock %}