{% extends "base.html" %}

{% block app_content %}
<table>
    <tr>
        <td><img src="{{user.avatar(128)}}" alt="Profile pic not available."></td>
        <td><h1>User: {{user.username}}</h1>
            <p>{% if user.about_me %} {{ user.about_me }} {% endif %}</p>
            <p>{% if user.last_seen %} Last seen on : {{ user.last_seen }}{% endif %}</p>
            <p>{{user.followers.count()}} followers, {{user.followed.count()}} following</p>
        </td>
    </tr>
    <!-- VERY IMPORTANT: Add an if user == current_user, so if the current_user is viewing another profile,
    they won't be able to change their infor -->
</table>
<p>{% if user == current_user %} <a href="{{url_for('edit_profile')}}">Want to change you profile? Click here!</a></p>
{% elif not current_user.is_following(user) %}
<p>
<form action="{{url_for('follow', username=user.username)}}" method="post">
    {{form.hidden_tag()}}
    {{form.submit(value='Follow')}}
</form>
</p>
{% else %}
<p>
<form action="{{url_for('unfollow', username=user.username)}}" method="post">
    {{form.hidden_tag()}}
    {{form.submit(value='Unfollow')}} <!-- The value writes over the 'Submit' label in the form module -->
</form>
</p>
{% endif %}
<hr>
{% for post in posts %}
<!--Instead of using this hardcoded version, recycle the subtemplate-->
<!--<table>-->
<!--    <tr>-->
<!--        <td><img src="{{user.avatar(36)}}"></td>-->
<!--        <td>{{post.author.username}} says : {{post.body}}</td>-->
<!--    </tr>-->
<!--</table>-->
{% include '_post.html' %}
{% endfor %}
<!--    {% if prev_url %}-->
<!--    <a href="{{ prev_url }}"><&#45;&#45; Newer posts</a>-->
<!--    {% endif %}-->
<!--    {% if next_url %}-->
<!--    <a href="{{ next_url }}">Older posts &ndash;&gt;</a>-->
<!--    {% endif %}-->

<!-- This is all in the documentation of boostrap with flask -->
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}